@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http

<ul class="navbar-nav">
    @if (!string.IsNullOrEmpty((string)TempData["AdminName"]))
    {
        <li class="nav-item">
            <span class="nav-link">Welcome, @TempData["AdminName"]!</span>
        </li>
        <li class="nav-item">
            <form id="logoutForm" asp-controller="ADMIN" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <div class="ms-3">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </button>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="/ADMIN/login2">Login</a></li>
                    <li><a class="dropdown-item" href="/ADMIN/Register2">Register (Admin)</a></li>
                </ul>
            </div>
        </div>
    }
</ul>
