@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello 
                @if (User.IsInRole("Admin"))
                {
                    <text> Admin , </text>
                    <span style="color: yellow;">@UserManager.GetUserName(User)!</span>

                }
                else if (User.IsInRole("User"))
                {
                    <text>Our User ,  </text>

                <span style="color: blue;">@UserManager.GetUserName(User)!</span>
                }



            </a>
        </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                User
            </button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="/Identity/Account/Login">Login</a></li>
                <li><a class="dropdown-item" href="/Identity/Account/Register">Register</a></li>
            </ul>
        </div>
}
</ul>
