<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <h1>Admin Login</h1>
    @if (ViewData.ContainsKey("ErrorMessage"))
    {
        <span style="color: red;">@ViewData["ErrorMessage"]</span>
    }

    <form method="post" asp-action="Login2" class="form-row">

        <div class="form-group col-md-4">
            <label for="Email" class="col-form-label">Email:</label>
            <input type="email" id="Email" name="Email" required autofocus class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="Password" class="col-form-label">Password:</label>
            <input type="password" id="Password" name="password" required class="form-control" />
        </div>

        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </form>


</body>
</html>
